@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    color: #333;
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
p {
    color: gray;
}
/* .img-container {
    width: 1024px;
    margin: 0 auto; 
    font-size: 0;
} */

header, footer {
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #f0f0f0;
    overflow: auto;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027);
}

.crveno {
    color: red;  
}
